.help::-webkit-scrollbar, .content::-webkit-scrollbar {
  width: 5px;
}

.help::-webkit-scrollbar-track, .content::-webkit-scrollbar-track {
  background: #2c3e50; 
}

.help::-webkit-scrollbar-thumb, .content::-webkit-scrollbar-thumb {
  background: #bdc3c7;
  border-radius: 2.5px;
}

.help::-webkit-scrollbar-thumb:hover, .content::-webkit-scrollbar-thumb:hover {
  background: white;
}