.content::-webkit-scrollbar {
  width: 5px;
}
.content::-webkit-scrollbar-track {
  background: #2c3e50; 
}

.content::-webkit-scrollbar-thumb {
  background: #bdc3c7;
  border-radius: 2.5px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: white;
}